body {
    background: url(images/bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    font-family: 'Secular One', sans-serif;
}

#contactInfoBtn {
    border: none !important;
}

.fade {
    display: none;

}

.modal-open {

    padding-right: 0 !important;
}

.a-color {
    color: #e85d04;
}

#logo {
    height: 5em;
    width: 6em;
}

#header {
    border-bottom: 3px ridge #e85d04;
    background-color: black;

}

.contact-bg {
    height: 4em;
    padding-left: 0em;
}

#footer {
    border-top: 3px ridge #e85d04;
    background-color: black;
}

#aboutUs {
    font-weight: bold;
    font-size: medium;
}

.about-container {
    background-color: #6d6a7585;
    border: 1px solid #e85d04;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #e85d04;
    height: 100%;
}

.modal-bg-border {
    border: 0px;
}

.modal-container {
    background-color: black;
    border: 1px solid #e85d04;
    border-radius: 5px;
}


/* Calender css */
#calender {
    font-weight: bold;
    position: relative;
    height: 100%;
    width: 100%;
}

/* css trick to change bg-image opacity */
#calender::before {
    content: "";
    background-image: url(images/logo2.jpeg);
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.60;
}

#calenderData {
    position: relative;
}


.table-bordered thead th {
    font-size: larger;
}

/* .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #dee2e6;
} */

.bg-groups {
    background-color: #02c2c7
}

.bg-pilatis {
    background-color: #5bbd2a
}

.bg-women {
    background-color: #9d60ff
}


.border-radius-5 {
    border-radius: 5px;
}

.table-bordered td {
    border: 1px solid white;
}



.table td,
.table th {
    padding: .2rem;
    vertical-align: top;
    border-top: 1px solid white;
    word-break: break-word;
}

/* wont work on ios */
/* .instagram {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
} */

.instagram {
    width: 1.5em;
}

.jump-anchor {
    display: inline;
    position: absolute;
    visibility: hidden;
    margin-top: -8em;
}


.dropdown-item {
    color: white;
}

.dropdown-menu {
    background: black;
    border: 1px solid #e85d04;
    border-radius: 5px;
}

/* changing the default bootstrap outline effect on dropdown menu  */
#dropdownMenuButton {
    box-shadow: none;
}

/* changing the default bootstrap bg color on dropdown item  */
.dropdown-item:active {
    background-color: #e85d04 !important;
}

/* changing the default bootstrap outline effect on accordion item  */
.accordion-button:focus {
    box-shadow: none;
}

.accordion-item {
    border: none !important;
}

/* changing the default bootstrap accordion icon*/
.accordion-button:after {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

/* changing sizes according to screen width */
@media (min-width: 350px) {
    .table {
        font-size: 55%;
        font-weight: 400;
    }

    #time {
        white-space: nowrap
    }
}

@media (min-width: 768px) {
    .table {
        font-size: large;
    }

    .contact-bg {
        background: linear-gradient(110deg, #ffb03a 40%, black 30%);
    }
}

@media (max-width: 767px) {
    .contact-bg {
        background: linear-gradient(110deg, #ffb03a 0 55%, black 50% 100%);
    }
}

@media (max-width: 650px) {
    .contact-bg {
        background: linear-gradient(110deg, #ffb03a 0 55%, black 55% 100%);
    }
}

@media (max-width: 545px) {
    .contact-bg {
        background: linear-gradient(110deg, #ffb03a 60%, black 60%);
    }
}

@media (max-width: 450px) {
    .contact-bg {
        background: linear-gradient(110deg, #ffb03a 70%, black 60%);
    }
}

@media (max-width: 370px) {
    .contact-bg {
        background: linear-gradient(100deg, #ffb03a 80%, black 60%);
    }

    #contactInfoBtn {
        padding-left: 13%;
    }
}

@media (max-width: 259px) {
    .contact-bg {
        background: #ffb03a;
    }

    #contactInfoBtn {
        padding-left: 0%;
    }
}